/* Ysabeau v2.006, unmodified official variable TTF files.
 * Source: https://github.com/CatharsisFonts/Ysabeau/releases/tag/v2.006
 * License: ../fonts/ysabeau/OFL.txt (SIL Open Font License 1.1).
 */

@font-face {
  font-family: "Ysabeau";
  src: url("../fonts/ysabeau/Ysabeau-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Ysabeau";
  src: url("../fonts/ysabeau/Ysabeau-VariableItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
}
